.signUp-form-wrapper {
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sighUp-title {
    margin: 0 auto;
}

.signUp-label {
    margin-top: 1em;
}

.signUp-input {
    display: block;
}

.btn-submit {
    display: block;
    margin: 1em auto;
}